*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 300ms;
}

:root{
    --color: #ff6347;
}

html{
    font-size: 62.5%;
}





/*HOME*/
#header{
    width: 100vw;
    height: 10vh;
    background: var(--color);
}



#header h1{
    width: 40%;
    line-height: 6rem;
    background: var(--color);
    float: right;
    text-align: end;
    font-size: 3rem;
    padding-right: 5rem;
}

.home-section{
    width: 100vw;
    height: 90vh;
    display: flex;
}

#navbar{
    padding: 1px;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: rgb(10, 22, 189);
}

#navbar img{
    display: block;
    width: 50%;
    margin: 2rem auto;
    background: #fff;
    border-radius: 2rem;
}

#navbar .logout{
    display: block;
    width: 50%;
    font-size: 2rem;
    background: #f00;
    margin: 2rem auto;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color: #fff;
}

#navbar .logout:hover{
    background: rgb(247, 106, 106);
}

.container{
    position: relative;
    width: 70%;
    height: 100%;
}

.add{
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 2rem;
    padding: 1rem;
    background: rgb(21, 155, 21);
    border: none;
    transition: all 300ms;
}

.add:hover{
    background: rgb(74, 199, 74);
}

.form-add{
    position: absolute;
    top: 2rem;
    right: 0;
    left: 0;
    margin: auto;
    width: 40rem;
    min-height: 20rem;
    background: rgb(214, 214, 214);
    border: .1rem solid #000;
    z-index: 10000;
    display: none;
    transition: all 300ms;
}

.form-add h3{
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
}

.form-add input{
    width: 80%;
    display: block;
    margin: 1rem auto;
    font-size: 2rem;
    padding: 1rem;
    border-radius: .5rem;
}

.form-close{
    width: 2.5rem;
    padding: .5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: #f00;
    color: #fff;
    font-size: 1rem;
    border: none;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.success{
    display: block;
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    background: rgb(37, 114, 37);
    color: #fff;
}