*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 300ms;
}

:root{
    --color: #ff6347;
}

html{
    font-size: 62.5%;
}





/*HOME*/
#header{
    width: 100vw;
    height: 10vh;
    background: var(--color);
}



#header h1{
    width: 40%;
    line-height: 6rem;
    background: var(--color);
    float: right;
    text-align: end;
    font-size: 3rem;
    padding-right: 5rem;
}

.home-section{
    width: 100vw;
    height: 90vh;
}

#navbar{
    padding: 1px;
    width: 25%;
    height: 100%;
    background: rgb(10, 22, 189);
}

#navbar img{
    display: block;
    width: 50%;
    margin: 2rem auto;
    background: #fff;
    border-radius: 2rem;
}

#navbar .logout{
    display: block;
    width: 50%;
    font-size: 2rem;
    background: #f00;
    margin: 2rem auto;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color: #fff;
}

#navbar .logout:hover{
    background: rgb(247, 106, 106);
}